:root {
  --main-color: #37517e;
}

.landing-section {
  background-color: var(--main-color);
  color: white;
}

.landing-section a {
  color: white !important;
}

.dropdown-menu a {
  color: black !important;
}

.image-animation {
  animation: move 1s linear infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-7px);
  }
}

.text-blue {
  color: #37517e;
}

.gray {
  width: 150px;
  height: 1px;
  background-color: rgb(186, 186, 186);
  margin: auto;
  position: relative;
}

.blue {
  width: 40%;
  height: 3px;
  background-color: var(--bs-info);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
